    <table id="cart" class="table" cellpadding="0" cellspacing="0">
        <tr>
            <th class="col">Назва</th>
            <th class="col">Кількість</th>
            <th class="col">Ціна</th>
        </tr>
        {% for item in cart %}
        <tr class="{% cycle 'lite' 'darck' %}">
            <td>{{ item.product.name }}</td>
            <td class="col">{{ item.quantity }} 
			<span>
            	<a class="action" href="{% url inc_cart_item item.id %}" title="Збільшити кількість">+</a>
				<a class="action" href="{% url dec_cart_item item.id %}" title="Зменшити кількість">&minus;</a>
				<a class="action" href="{% url del_cart_item item.id %}" title="Видалити пунтк">X</a>
			</span>
            </td>
			<td class="col">{{ item.total_price }}</td>
        </tr>
        {% endfor %}
		<tr class="last">    	            <td><a href="{% url clear_cart %}">Очистити замовлення</a></td>    	            <td class="col"></td>    				<td class="col"><a href="{% url checkout %}">Замовити</a> </td>    	</tr> 
    </table>
	
	
