body{ font-family: Times New Roman, sans-serif; color: #f0b012; text-align:center;}

p{font-family: Times New Roman, sans-serif; font-size: 18px; }


a{text-decoration: underline; color: #f0b012 /*#ff7800;*/}
a:visited{text-decoration: underline; /* color: #ff7000;*/}
a:active{text-decoration: none; color: #f07800;}
a:hover{color: #ff8800}

h1.title,
.text4,
.text3{font-size: 18px;}

 
#main{
	margin: 0 auto;
	width: 800px;
}

.table { width: 780px; }
  .table th {text-align: left;}
  .table tr {vertical-align: center;}
  .table .img {padding: 4px;}
  .table .img img {border: 2px solid #f0b012;}
  .table .name {width: 447px;}
  .table .col {width: 8em; text-align: center;}
  .table tr.lite {background-color:#8B1001;}
  .table tr.darck {background-color:#801001;}

.nomer-table td.img {width: 420px;}

/*copyr*/
a.copyr {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px;}
a:link.copyr {text-decoration: none; color: #000000;}
a:visited.copyr {text-decoration: none; color: #000000;}
a:active.copyr {text-decoration: none; color: #000000;}
a:hover.copyr {color: #000000}


form{margin: 0 auto; width: 220px;}

ul.errorlist{margin: 0; padding: 0;}
ul.errorlist li{margin: 0; padding: 0; list-style: none;}
form table th,
form table td {border-bottom: 1px dotted #ff7000;}
input[type=text] { width: 100%; } 

form#zayavka p{padding-top: 2px;}
#id_math_captcha_field {width: 85%; float:right; margin-right: 2px;}
