{% extends base.htm %}
{% block content %}
                    <table width="750" height="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td height="30" align="center"> 
                          <div align="right"><font class="text3"></font></div>
                          <font class="text3"><strong>Гостьова книга </strong></font></td>
                      </tr>
                      <tr align="right"> 
                        <td> <div align="center"> 
                            <p>&nbsp;</p>
                            <TABLE cellSpacing=3 cellPadding=3 width="100%" border=0>
                              <TBODY>
                                <TR> 
                                  <TD vAlign=top><FORM name=form1 action=reservation_send.php method=post>
                                      <TABLE width="100%" border=0>
                                        <TBODY>
                                          <TR> 
                                            <TD width="34%" align="center"><font class="text3"><strong>Фамилия, 
                                              Имя, О.*:</STRONG></font></TD>
                                            <TD width="66%"><INPUT id=boxName size=40 name=boxName></TD>
                                          </TR>
                                          <TR align="center"> 
                                            <TD colSpan=2> <BLOCKQUOTE> 
                                                <BLOCKQUOTE> 
                                                  <P><font class="text3">Отзывы 
                                                    и пожелания</font></P>
                                                </BLOCKQUOTE>
                                              </BLOCKQUOTE></TD>
                                          </TR>
                                          <TR> 
                                            <TD>&nbsp;</TD>
                                            <TD><SPAN class=reserveform> 
                                              <TEXTAREA class=reserveform id=boxComments style="WIDTH: 100%; HEIGHT: 150px" name=boxComments wrap=VIRTUAL></TEXTAREA>
                                              </SPAN></TD>
                                          </TR>
                                          <TR> 
                                            <TD colSpan=2 align="center"> <INPUT type=submit value=Отправить name=Submit> 
                                              <INPUT type=reset value=Очистить name=Reset></TD>
                                          </TR>
                                        </TBODY>
                                      </TABLE>
                                    </FORM></TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                            <br>
                            <br>
                            <table width="651" border="0" cellspacing="0" cellpadding="0">
                              <tr> 
                                <td width="343"><div align="left"><font class="text3"><strong>Иванов 
                                    И.И.</strong></font></div></td>
                                <td width="308"><div align="right"><font class="text3">12.04.2008</font></div></td>
                              </tr>
                              <tr> 
                                <td colspan="2"><font class="text3"><br>
                                  С посещением ресторана вы можете насладится 
                                  кулинарными шедеврами Японской, Украинской и 
                                  Середнеземноморской кухнями. И выбрать с ледяной 
                                  витрины свежую рыбу: Дорадо, Сибас, Морской 
                                  язык,<br>
                                  </font> </td>
                              </tr>
                            </table>
                            <br>
                            <table width="651" border="0" cellspacing="0" cellpadding="0">
                              <tr> 
                                <td width="343"><div align="left"><font class="text3"><strong>Иванов 
                                    И.И.</strong></font></div></td>
                                <td width="308"><div align="right"><font class="text3">12.04.2008</font></div></td>
                              </tr>
                              <tr> 
                                <td colspan="2"><font class="text3"><br>
                                  С посещением ресторана вы можете насладится 
                                  кулинарными шедеврами Японской, Украинской и 
                                  Середнеземноморской кухнями. И выбрать с ледяной 
                                  витрины свежую рыбу: Дорадо, Сибас, Морской 
                                  язык,<br>
                                  </font> </td>
                              </tr>
                            </table>
                            <br>
                            <table width="651" border="0" cellspacing="0" cellpadding="0">
                              <tr> 
                                <td width="343"><div align="left"><font class="text3"><strong>Иванов 
                                    И.И.</strong></font></div></td>
                                <td width="308"><div align="right"><font class="text3">12.04.2008</font></div></td>
                              </tr>
                              <tr> 
                                <td colspan="2"><font class="text3"><br>
                                  С посещением ресторана вы можете насладится 
                                  кулинарными шедеврами Японской, Украинской и 
                                  Середнеземноморской кухнями. И выбрать с ледяной 
                                  витрины свежую рыбу: Дорадо, Сибас, Морской 
                                  язык,<br>
                                  </font> </td>
                              </tr>
                            </table>
                            <br>
                            <br>
                          </div></td>
                      </tr>
                    </table>
{% endblock content %}