{% extends base.htm %}
{% block content %}
                    <table width="848" height="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td height="30" align="center"> 
                          <div align="right"><font class="text3"></font></div>
                          <font class="text3"><strong>Готель</strong></font></td>
                      </tr>
                      <tr> 
                        <td> <div align="center"> 
                            <table width="750" height="129" border="2" cellpadding="5" cellspacing="5" bordercolor="c04200"  style="BORDER-COLLAPSE: collapse">
                              <tr> 
                                <td><img src="hotel.jpg" width="750" height="129"></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <p><font class="text4">В глибині двору знаходиться 
                              готель. <br>
                              Номерний фонд складає 10 номерів, з них 4 люкси 
                              та 6 напівлюкси. <br>
                              У кожному номері до Ваших послуг кондиціонер, кабельне 
                              телебачення, гаряча та холодна вода, <br>
                              щоденне прибирання, а також обслуговування офіціантами. 
                              <br>
                              Для наших відвідувачів, що приїздять до нас на автомобілі, 
                              <br>
                              ми пропонуємо зручну парковку під надійною охороною. 
                              </font></p>
                          </div></td>
                      </tr>
                    </table>
{% endblock content %}