{% extends "base.htm" %}
{% block content %}
                    <table width="848" height="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td height="30" align="center"> 
                          <div align="right"><font class="text3"></font></div>
                          <font class="text3"><strong>Головна</strong></font></td>
                      </tr>
                      <tr> 
                        <td> <div align="center"> 
                            <table width="750" height="129" border="2" cellpadding="5" cellspacing="5" bordercolor="c04200"  style="BORDER-COLLAPSE: collapse">
                              <tr> 
                                <td><img src="{{ MEDIA_URL }}center.jpg" width="750" height="129"></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <p><font class="text4">Всіх любителів смачно поїсти 
                              та весело відпочити чекає в гостях розважальний 
                              комплекс "Вишневий сад".<br>
                              Наші двері відчинені для кожного - для студентів, 
                              які зайшли випити чашку чаю, <br>
                              для бізнесменів у пошуках усамітнення, або тихого 
                              місця для ділових переговорів, <br>
                              для туристів шукаючих традиційної закарпатської 
                              кухні, для закоханих пар бажаючих провести романтичний 
                              вечір. <br>
                              <br>
                              В самому центрі міста на зустріч з Вами Чекає "мукачівська 
                              вишенька" </font></p>
                          </div></td>
                      </tr>
                    </table>
{% endblock content %}