{% extends "base.htm" %}
{% block content %}
                    <table width="848" height="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td height="30" align="center"> 
                          <div align="right"><font class="text3"></font></div>
                          <font class="text3"><strong>Піцерія</strong></font></td>
                      </tr>
                      <tr> 
                        <td> <div align="center"> 
                            <table width="750" height="129" border="2" cellpadding="5" cellspacing="5" bordercolor="c04200"  style="BORDER-COLLAPSE: collapse">
                              <tr> 
                                <td><img src="{{ MEDIA_URL }}piceriya.jpg" width="750" height="129"></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <p><font class="text4">В самому серці нашого комплексу 
                              знаходиться зимово-літня тераса, <br>
                              за стінами якої Ви зможете посмакувати справжньою 
                              італійською піцею, <br>
                              що готується по італійській технології - процес 
                              випічки здійснюється в глиняній печі на дровах, 
                              <br>
                              що придає їй особливий аромат. <br>
                              Оберіть те, що Вам смакує сьогодні і... смачного! 
                              </font></p>
                          </div></td>
                      </tr>
                    </table>
{% endblock content %}