{% extends base.htm %}
{% block content %}
                    <table width="848" height="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td height="30" align="center"> 
                          <div align="right"><font class="text3"></font></div>
                          <font class="text3"><strong>Сауна</strong></font></td>
                      </tr>
                      <tr> 
                        <td>
<div align="center">
<table width="454" height="129" border="2" cellpadding="5" cellspacing="5" bordercolor="c04200"  style="BORDER-COLLAPSE: collapse">
                              <tr> 
                                <td><img src="sauna.jpg" width="454" height="129"></td>
                              </tr>
                            </table>
                            <p>&nbsp;</p>
                            <p><font class="text4">Відволіктися від міської метушні 
                              та зняти напруження <br>
                              Вам допоможе затишна фінська сауна. <br>
                              В нашій сауні крім звичайних зручностей працює масажист 
                              - професіонал та солярій.</font></p>
                          </div></td>
                      </tr>
                    </table>
{% endblock content %}