{% extends "page.htm" %}
{% block title %} Меню {% endblock title %}

{% block body %}
	<div id="main">
	{% for cat in Category_list %}
		<h1>{{ cat.name }}</h1>
		<table class='menu-table' 	cellpadding="0"	cellspacing="0">
			<tr id="table_header"> 
				<th class='img'> 		</th> 
				<th class='name'> Назва	</th> 
				<th class='amount'>  	</th>
				<th class='price'> Ціна </th>
			</tr>
		{% for item in cat.menuitem_set.all %}
			<tr class="{% cycle 'lite' 'darck' %}"> 
				<td class='img'> {% if item.img.thumbnail %}
					<img src="{{ item.img.thumbnail }}" alt="{{ my_model.name }}  {{ item.amount }}" />
					{% endif %}
				</td> 
				<td class='name'> {{ item.name }}	</td> 
				<td class='amount'> {{ item.amount }} </td>
				<td class='price'> {{ item.price }} </td>
			</tr>
		{% endfor %}
		</table>
	{% endfor %}
	</div>
{% endblock body %}
