{% extends "page.htm" %}
{% block title %} Меню {% endblock title %}

{% block body %}
	<div id="main">
	{% for cat in Category_list %}
		<h1>{{ cat.name }}</h1>
		<table class='menu-table' 	cellpadding="0"	cellspacing="0">
			<tr id="table_header"> 
				<th class='img'> 		</th> 
				<th class='name'> Назва	</th> 
				<th class='col'> {{ cat.col1 }} </th>
				<th class='col'> {{ cat.col2 }} </th>
				<th class='col'> {{ cat.col3 }} </th>
				<th class='col'> {{ cat.col4 }} </th>
			</tr>
		{% for item in cat.menuitem_set.all %}
			<tr class="{% cycle 'lite' 'darck' %}"> 
				<td class='img'> {% if item.image.thumbnail %}
					<a href="{{ MEDIA_URL }}{{ item.image }}" class="zoom" >
						<img src="{{ item.image.thumbnail }}" alt="{{ item.name }}" />
					</a>
					{% endif %}
				</td> 
				<td class='name'> {{ item.name }}	</td> 
				<td class='col'> {{ item.col1 }} </td>
				<td class='col'> {{ item.col2 }} </td>
				<td class='col'> {{ item.col3 }} </td>
				<td class='col'> {{ item.col4 }} </td>
			</tr>
		{% endfor %}
		</table>
	{% endfor %}
	</div>
{% endblock body %}
